.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.button {
  width: 50px;
  height: 50px;
  margin: 5px;
  color: rgb(29, 109, 184);
  opacity: 600px;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  
}

:hover.button {
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
}